@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@{
    if(TempData["message"]!=null){
        <div class="alert alert-warning">
            @TempData["message"]
        </div>
    }
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<table>
    <thead>
        <th>Id</th>
        <th>Title</th>
        <th>Proce</th>
        <th>Description</th>
        <th>Image</th>
        <th>Actions</th>
    </thead>
    <tbody>
        @foreach(var product in Model.Products){
            <tr>
                <td>@product.id</td>
                <td>@product.title</td>
                <td>@product.price</td>
                <td>@product.description</td>
                <td>
                    <img src="@product.image" width="100px" height="100px" />
                </td>
                <td>
                    <a asp-page="Edit" asp-route-id="@product.id" class="btn btn-outline-warning">Edit</a>
                    <a asp-page="Delete" asp-route-id="@product.id" class="btn btn-outline-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>